body{
    background-color: rgb(26, 24, 24);
    box-sizing: border-box;
    overflow: hidden;
}
.register-outer , .login-outer{

    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.register-email , .login-email{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

.register-password , .login-password{
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
    border-radius: 10px;
}

.register-button , .login-button{
    background-color: rgb(194, 194, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
    margin-right: 1em;
    border: 1px solid black;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.register-button:hover , .login-button:hover{
    background-color: rgb(203, 101, 203);
    cursor: pointer;
}

.register-p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.2em;
    margin-top: 1em;
}

.register-login{
    color: rgb(194, 194, 104);
    margin-top: 1em;
    text-decoration: none;
    cursor: pointer;
}

.register-login:hover{
    color: rgb(203, 101, 203);
}


.home-inner{

    display: flex;
    background-color: rgb(48, 46, 46);
    justify-content: space-around;
    gap: 3em;
    padding: 1em;
    flex-wrap: wrap;
}

.home-home, .home-employee{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:larger;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.home-home:hover, .home-employee:hover{
    color:  rgb(203, 101, 203);
}

.home-logout{
    text-decoration: none;
    background-color:rgb(194, 194, 104) ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    border-radius: 10px;
    padding: 0.3em;
    border: none;
}

.home-logout:hover{
    background-color:rgb(203, 101, 203) ;
    border: none;
}

.home-name{
    color: white;
    font-size: larger;
}

.home-p{
    color: white;
}

.home-outer-p{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}